name: CI

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Overwrite action
        run: cp -f .github/actions/action.yml ./action.yml

      - name: Ping
        uses: ./
        with:
          url: www.google.com
          attempts: 3
          on-fail: "echo 'ping failed'"